#top {
  display: flex;
  background-color: var(--ui-color);
  margin-bottom: 0.3em;
  text-align: center;
  position: sticky;
  padding: 0.3em;
  gap: 0.3em;
}

.top_button {
  cursor: pointer;
  flex: 0.1;
  width: 100%;
  height: 100%;
  max-width: 5em;
  border-radius: 5px;
  background-color: var(--ui-color);
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.1em;
  color: var(--ui-text-color);
}

.top_button:hover {
  background-color: var(--ui-highlight);
}

.selected {
  background-color: var(--ui-highlight) !important;
}

#tools {
  display: flex;
  background-color: var(--bg-color);
  text-align: center;
  position: sticky;
  padding: 0.3em;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  gap: 0.3em;
  height:70px;
}

#tools .top_button {
  flex: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80px;
  max-width: none;
}

#tools img {
  max-height: 90%;
}
