#top {
  display: flex;
  background-color: var(--ui-color);
  margin-bottom: 0.3em;
  text-align: center;
  position: sticky;
  padding-left: 0.3em;
  gap: 0.3em;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.top_button {
  cursor: pointer;
  flex: 0.1;
  width: 100%;
  height: 100%;
  max-width: 5em;
  border-radius: 5px;
  background-color: var(--ui-color);
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.1em;
  color: var(--ui-text-color);
}

.top_button:hover {
  background-color: var(--ui-highlight);
}

.disabled:hover {
  cursor: not-allowed !important;
  background-color: var(--ui-color) !important;
}

.selected {
  background-color: var(--ui-highlight) !important;
}

#tools {
  display: flex;
  background-color: var(--bg-color);
  text-align: center;
  position: sticky;
  padding: 0.3em;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  gap: 0.3em;
  margin-top: 0.3em;
  height: 70px;
}

#tools .top_button {
  flex: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80px;
  max-width: none;
}

#tools img {
  max-height: 90%;
}

#top_buttons {
  display: flex;
  background-color: var(--ui-color);
  text-align: center;
  position: sticky;
  padding: 0;
  gap: 0.3em;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 10em;
}

#top_buttons .top_button {
  flex: 0.5;
}

.invisible {
  user-select: none;
  pointer-events: none;
  opacity: 0;
}
