#top {
  display: flex;
  background-color: var(--ui-highlight-subtle);
  margin-bottom:0.3em;
  text-align: center;
  position: sticky;
  padding:0.3em;
}

.top_button {
  flex: 0.1;
  width:100%;
  max-width:5em;
  border-radius:5px;
  background-color: var(--ui-highlight-subtle);
  border:none;
  outline:none;
  box-shadow:none;
  padding:0.1em;
  color:var(--ui-text-color)
}

.top_button:hover{
  background-color: var(--bg-color);
}

.selected{
  background-color: var(--ui-highlight) !important;
}