:root {
  --bg-color : rgb(36, 43, 43);
  --svg-color : rgb(174, 174, 174);
  --ui-color : rgb(30, 30, 30);
  --ui-highlight : rgb(86, 86, 86);
  --ui-highlight-subtle : rgb(57, 57, 57);
  --ui-text-color : white;

}

body {
  overscroll-behavior-x: none;
  overflow: hidden;
  background-color: var(--bg-color);
}

#top {
  width: 100%;
  background-color: var(--bg-color);
  text-align: center;
  position: sticky;
  display: flex;
  grid-area: head;
}

#top button {
  flex: 1;
}

#main {
  background-color: var(--svg-color);
  z-index: 0;
  width: 100%;
  height:100%;
  grid-area:main;
}

#side {
  display: flex;
  background-color: var(--ui-color);
  grid-area: side;
  position: sticky;
  overflow: auto;
  min-width:120px;
  max-width: 100cqi;
}

#side button {
  flex: 1;
}

#layers {
  grid-area: layer;
  background-color: var(--ui-color);
  position: sticky;
  height: 100%;
  width: 100%;
}

#ui {
  pointer-events: none;
  position: absolute;
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr 3px 200px;
  grid-template-rows: 40px 2fr 2fr 1.5fr 1fr;
  grid-template-areas:
    "head head head head resize side"
    ". . . . resize side"
    ". . . . resize side"
    "layer . . . resize side"
    "layer foot foot foot resize side";
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#ui image {
  cursor: move;
}

#ui *{
  pointer-events: auto;
}

#ui button{
  user-select:none;
}

.resize {
  grid-area:resize;
  cursor: ew-resize;
  width: 100%;
  overflow: visible;
  background-color:var(--ui-highlight);
}

.resizeV {
  grid-area:resize;
  cursor: ns-resize;
  width: 100%;
  overflow: visible;
  background-color:var(--ui-highlight);
}

.collapsable {
  background-color: var(--ui-highlight);
}

.scrollable {
  overflow: auto;
}

#svgdiv{
  position: absolute;
  display:grid;
  grid-template-areas:
  ". resizetop ."
  "resizeleft main resizeright"
  ". resizebottom .";
  z-index: 0;
  grid-template-columns: 6px 1000px 6px;
  grid-template-rows:6px 700px 6px;
}